.content {
  grid-area: content;
  background-color: #dbe9fd;
  margin: 0 auto;
  padding-left: 100px;
}

.content img {
  width: 990px;
  margin-bottom: 20px;
}

.posts {
  color: #4550f0;
  margin-left: 100px;
}

.textarea {
  margin-left: 100px;
}

.input {
  margin-left: 630px;
  margin-top: 20px;
}

.button{
  margin-left: -390px;
  margin-top: -30px;
}