.myself {
  display: grid;
  grid-template-columns: 300px 500px;
  grid-template-areas: "img Profile";
  padding: 20px;
  padding-left: 100px;
}

.img {
  margin: 30px;
  width: 20px;
  grid-column: 1/2;
}

.profile {
  grid-area: Profile;
  padding: 15px;
}

.item {
  margin: 15px;
  color: #4550f0;
}

.avatarPhoto {
  width: 300px;
  height: 300px;
}

.contact {
  padding: 5px 5px 5px 10px;
}