.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: gold;
}

.dialog {
  padding: 10px;
}

.maseeges {
  padding: 10px;
}

.maseege {
  padding: 10px;
}
.textarea {
  padding: 25px;
}
.input {
  padding-left: 10px;
  padding-top: 40px;
}
