.dialogs {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 8fr;
  grid-template-areas:
    "dialogs_items" "maseege"
    "enter";
}

.dialogsItems {
  padding: 10px;
  grid-area: dialogs_items;
  grid-area: 1/1/2/2;
  color: gold;
}

.dialog {
  padding: 10px;
  grid-area: maseege;
  justify-content: end;
}

.enter {
  height: 200px;
  grid-area: enter;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 40px;  
}

.maseeges {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.maseege {
  padding: 15px 50px 10px;
}

.textarea {
  padding: 25px;
  display: flex;
  justify-content: flex-end;
}
/* 
.input {
  display: flex;
  justify-content: flex-end;
} */
