.nav {
  grid-area: nav;
  background-color: #2a7c15;
  font-family: "Roboto", sans-serif;
}
.item img {
  padding: 7px;
  width: 40px;
}
.item {
  margin: 10px;
}

.item a {
  margin: 10px;
  color: rgb(2, 54, 11);
  text-decoration: none;
}

.item.setting {
  margin: 40px 10px;
}

.item a.activeLink {
  margin: 10px;
  color: rgb(19, 74, 78);
  font-size: 20px;
  font-weight: bold;
}
