.nav {
  grid-area: nav;
  background-color: #89dfeb;
  font-family: "Roboto", sans-serif;
}

.item {
  margin: 10px;
}

.item a {
  margin: 10px;
  color: rgb(57, 110, 114);
  text-decoration: none;
}

.item.setting {
  margin: 40px 10px;
}

.item a.activeLink {
  margin: 10px;
  color: rgb(19, 74, 78);
  font-size: 20px;
  font-weight: bold;
}
