.header {
  grid-area: header;
  background-color: #2a7c15;
  display: grid;
  grid-template-columns: 120px 1fr;
}

.header img {
  width: 80px;
  margin: 10px 10px;
}

.h1 {
  color: rgb(15, 56, 3);
  text-decoration: none;
  width: 155px;
  display: flex;
}

.h1 > img {
  margin: 0 10px;
  width: 800px;
  height: 100px;
}

.button {
  width: 70px;
  height: 30px;
  background-color: #83bb75;
  border-radius: 15px;
  
}

.login{
  display: grid;
  grid-template-rows: 50px 1fr;
}

.login_block{
padding-top: 15px ;
}