.userPhoto {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.item {
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
}

.location {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}
.location :first-child {
  padding-right: 5px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.name :first-child {
  padding-bottom: 15px;
}

.spanPage {
  padding: 2px;
}
.number {
  padding-left: 350px;
}

.user{
  padding-left:  20px;
  border: 1px solid #000;
}