.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 200px 990px;
  grid-gap: 10px;
  font-family: "Roboto", sans-serif;
}

.app-wrapper-content {
  grid-area: content;
  background-color: #d4d1d1;
}
